.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem; 
    position: fixed; 
    z-index: 1; 
    top: 300px;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    align-items: center

  }
  

  .sidenav a {
    margin: 0.6rem 0 0.6rem 0;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;

  }
  
  
  .sidenav a:hover {
    color: black;
  }
  
  
  .main {
    margin-left: 60px;
    padding: 0px 10px;
  }
  

  @media (max-width: 1200px) {
    .sidenav {display: none}
    .sidenav a {display: none}
  }