
  .linea{
    height: 2px;
    background-color: black;

  }

  ul {
    list-style-type : none;
    margin : 0;
    padding: 0
  }

  .product-img{
    height: 25rem
  }

  .container-admin{
    max-width: 70vw;
    margin:auto
  }
  .ghost{
    display:none;
  }